{% extends './include/layout.html' %}

{% block title %}
  test_vue
{% endblock %}

{% block head %}
  <link href="/js/about.4ebc7a79.js" rel="prefetch">
  <link href="/css/app.b087a504.css" rel="preload" as="style">
  <link href="/js/app.2c41ca89.js" rel="preload" as="script">
  <link href="/js/chunk-vendors.baeadf5f.js" rel="preload" as="script">
  <link href="/css/app.b087a504.css" rel="stylesheet">
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block body %}
  <noscript>
    <strong>We're sorry but test_vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <button onclick="submit()">请求</button>
  <script src="/js/chunk-vendors.baeadf5f.js"></script>
  <script src="/js/app.2c41ca89.js"></script>

  <script>
    function submit() {
      $.ajax({
        url: '/api/post',
        type: 'post',
        data: {
          name: 'xuyede'
        },
        success: function(ret) {
          console.log('🤓️', ret)
        }
      })
    }
  </script>
{% endblock %}
